#基本ライブラリ
jupyterlab
scikit-learn
matplotlib
japanize-matplotlib
seaborn
pandas
numpy
scipy
polars
pillow
fastparquet
#EDA
sweetviz
# 特徴量エンジニアリング
xfeat
# 予測モデル
lightgbm
xgboost
catboost
optuna
seaborn
numpy
scipy
pillow
#深層系
tensorflow
torch
keras
#時系列分析
tslearn
#ハイパラ
scikit-optimize
#AutoML
category_encoders



